img {
  vertical-align: middle;
}
.img-responsive-medium,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 50%;
  height: auto;
  border-radius: 50%
}

.img-circle-medium {
  border-radius: 7%;
   max-width: 45%;
}

.a-correct-color {
    color: #233140;
}